html {
  background-color: #002330;
  font-family: 'Nunito', sans-serif;
  color: #ffffc0;
}

body {
  margin: 50px auto;
  max-width: 875px;
}

.banner {
  position: fixed;
  display: block;
  top: 0; left: 0; right: 0;
  background-color: rgba(4, 19, 26, 0.9);
  color: #ffffc0;
  text-align: center;
  text-decoration: none;
  padding: 10px 0;
}

.banner:hover {
  color: #87697f;
}

.full {
  width: 100%;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 25px;
}

/* https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.promo {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.promo iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.social {
  text-align: center;
}

.social a {
  text-decoration: none;
}

.social img {
  width: 50px;
  margin-right: 25px;
}

@media screen and (max-width: 750px) {
  .row {
    display: block;
  }
